/* image class with second parameter being img tag in FoodItem components */
.img {
  width: 240px;
  height: 130px;

  border: 1px solid mediumaquamarine;
}
.img:hover {
    background-color: yellow;
    color: white;
    box-shadow: 6px 6px 6px black, 0 0 38px midnightblue, 0 0 5px mediumaquamarine;

}

p {
  font-size:14px;
   font-family: "Lucida Sans Unicode", 'Lucida Grande', sans-serif;
   text-shadow: .1px .1px 1px white, 0 0 15px mediumaquamarine, 0 0 5px palevioletred;
   position: relative;
   top: 3px;
   word-wrap: break-word;
   font-weight: 900;
}
.ui.card.card {
  background-color: sandybrown;
  width: 210px;
  height: 169px;
  position: relative;
  top: 30px;
}
.ui.card.card:hover {
  background-color: yellow;
  border: 1px  mediumaquamarine;
  color: brown;
  box-shadow: 4px 4px 4px black, 0 0 38px midnightblue, 0 0 5px mediumaquamarine;
}
