.ui.massive.inverted.menu {
  position: relative;
  top: 0;
}
#rating img {
  width: 20px;
  height: 20px;

}
.show-img {
    margin-left: 30px;
    width: 308px;
    height: 224px;
}
p {
  text-align: center;
}

/* .content{
background-color: lightgoldenrodyellow;
} */


/* .gm-style-pbc{
  map styling
} */
